{% extends "main/base.html" %}

{% block title %} theo {% endblock title %}

{% block content %}

<!-- form to enter details of a new client -->
<!-- name, contact number, email, phone number, injury -->
<div class="container">
    <!--Django Model Form-->
    <h1 class="my-4">Add a new athlete</h1>
    <form method="post">
      {% csrf_token %}
          <table>{{ add_athlete.as_table }}</table>
          <button class="btn btn-primary my-4" type="submit">Submit</button>
    </form>   
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}   
</div>

{% endblock content %}



{% block javascript %}
{% endblock javascript %}