{% extends "main/base.html" %}
{% load static %}

{% block title %} theo {% endblock title %}

{% block content %}

<div class="row justify-content-md-center">
  {% if athlete %}
    <h1>{{ athlete.first_name }} {{ athlete.last_name }}</h1>
  {% endif %}
</div>

{# heatmap #}

<div class="row">
  <div class="col-1">
    <div class="absolute center" style=" left: 32%; top: 10%">
      <img src="{% static 'main/images/heatmap_legend.png' %}" alt="legend">
    </div>
  </div>
  <span class="border border-dark">
  <div class="col-11">
    <div id="heatmap">
      <!--
      <div class="absolute text-black text-center" style="position: absolute; top: 5%;
          transform: translateY(-50%, 50%); left: 40%">
      -->
      <canvas id="heatmapCanvas" height="400px" width="800px"></canvas>
            <h1>HEAT MAP</h1>
            <p>
              Heat map test for 3d object and drag function
            </p>
          </div>
        
    </div>
  </span>
  </div>
</div>





{# end heatmap #}

{% endblock content %}

{% block javascript %}
<script type="module" src="{% static 'main/js/heatmap.js' %}"></script>
<script type="module" src="{% static 'main/js/training_manager.js' %}"></script>
{% endblock javascript %}
