{% extends "main/base.html" %}
{% load static %}

{% block title %} theo {% endblock title %}

{% block content %}

<h1>This is the Athlete page!!!</h1>

{# heatmap #}
<div class="absolute center" style=" left: 32%; top: 10%">
	<img src="{% static 'main/images/heatmap_legend.png' %}" alt="legend">
</div>

<div id="heatmap">
	<!--
	<div class="absolute text-black text-center" style="position: absolute; top: 5%;
      transform: translateY(-50%, 50%); left: 40%">
	-->
	<canvas id="heatmapCanvas" height="400px" width="800px"></canvas>


        <h1>HEAT MAP</h1>
        <p>
          Heat map test for 3d object and drag function
        </p>
      </div>

</div>
{# end heatmap #}

{% endblock content %}

{% block javascript %}
<script type="module" src="{% static 'main/js/heatmap.js' %}"></script>
<script type="module" src="{% static 'main/js/training_manager.js' %}"></script>
{% endblock javascript %}
