<!DOCTYPE html>
<html lang="en">

<!-- Set up included in all pages-->
<!-- Add Header and Footer for all pages here!!!-->

<head>
    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">

    <title>{% block title %} theo {% endblock title %}</title>
</head>

<body>

    <header>
    </header>

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>

    {% block javascript %}
    {% endblock javascript %}

    
    <footer>
    </footer>

</body>

</html>