{% extends "main/base.html" %}

{% block title %} theo {% endblock title %}

{% block content %}

<!-- form to enter login details -->
<div class="container">
  <div class="row justify-content-center align-items-center">
    <!--Django Model Form-->
    <h1 class="my-4">Login</h1>
    </div>
	{% if error %}
	    <div class="row justify-content-center align-items-center">
	    <p>{{ error }}</p>
	    </div>
	{% endif %}
    <div class="row justify-content-center align-items-center">
    <form method="post">
      {% csrf_token %}
          <table>{{ form.as_table }}</table>
          <button class="btn btn-primary my-4 float-right" type="submit">Login</button>
    </form>   

  </div>
</div>

{% endblock content %}



{% block javascript %}
{% endblock javascript %}
