{% extends "main/base.html" %}

{% block title %} theo {% endblock title %}

{% block content %}

<div class="heading">
    <h1>Overview of all clients</h1>
</div>

<div class="container">
{% if athlete_list %}
{% for athlete in athlete_list %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ athlete }}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'main:athlete' athlete.id %}" class="btn btn-primary float-right">View</a>
    </div>
</div>

{% endfor %}
{% else %}
<p>No athletes available</p>
{% endif %}
</div>
{% endblock content %}



{% block javascript %}
{% endblock javascript %}
