{% extends "main/base.html" %}

{% block title %} theo {% endblock title %}

{% block content %}

<div class="heading">
  <h1>Overview of all athletes</h1>
</div>

<div class="container">
  {% if athlete_list %} <!-- check if athletes available -->
  <!-- search bar to find individual athlete -->
  <div class="container" style="width: 85%;">
    <form method="get">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12 col-sm-9 col-lg-10">
          <input type="search" placeholder="Search athletes..." class="form-control" id="q" name="q">
        </div>
        <div class="col-12 col-sm-3 col-lg-2">
          <a onclick="search_athlete()" type="submit" class="btn btn-primary float-right"><i class="bi bi-search text-white"></i></a>
        </div>
      </div>
    </form>
  </div>
  {% for athlete in athlete_list %} <!-- iterate through list and print info for each one -->
  <div class="row justify-content-center" style="margin-bottom: 20px;">
  <!-- card for info on one athlete -->
    <div class="card" style="width: 80%;">
      <div class="card-body">
        <h5 class="card-title">{{ athlete }}</h5>
        <hr />
        <hr />
        <p class="card-text overflow-auto">
          <div class="row">
            <div class="col-12 col-sm-3 col-lg-2"><h7>Contact: </h7></div>
            <div class="col-12 col-sm-9 col-lg-10">{{athlete.contact_nb}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-12 col-sm-3 col-lg-2"><i class="bi bi-envelope-fill text-secondary"></i><h7> Email: </h7></div>
            <div class="col-12 col-sm-9 col-lg-10">{{athlete.email}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-12 col-sm-3 col-lg-2"><i class="bi bi-telephone-fill text-secondary"></i><h7> Phone: </h7></div>
            <div class="col-12 col-sm-9 col-lg-10">{{athlete.phone_nb}}</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-12 col-sm-3 col-lg-2"><h7>Injury: </h7></div>
            <div class="col-12 col-sm-9 col-lg-10">{{athlete.injury}}</div>
          </div>
        </p>
        <a href="{% url 'main:athlete' athlete.id %}" class="btn btn-primary float-right" data-toggle="tooltip" data-placement="bottom" title="view heatmap and infographics">View</a>
      </div>
    </div>
  </div>
  {% endfor %}

{% else %} <!-- if no athletes are available -->
  <div class="row justify-content-center">
    <p>no athletes available</p>
  </div>
{% endif %}
</div>
{% endblock content %}


<!-- search for athlete -->
{% block javascript %}
<script>
  function search_athlete() {
    var query = document.getElementById("q").value
    // add user input to the q GET parameter
    window.location.replace("/overview/1?q=" + query)
  }
</script>

<!--initialize all tooltips-->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock javascript %}
