{% extends "main/base.html" %}

{% block title %} theo {% endblock title %}

{% block content %}

<div class="heading">
    <h1>Overview of all clients</h1>
</div>

<div class="container">
{% if athlete_list %}
<div class="container" style="width: 85%;">
<div class="row" style="margin-bottom: 20px;">
  <div class="col-12 col-sm-9 col-lg-10"> 
    <input type="search" placeholder="Search athletes..." class="form-control">
  </div>
  <div class="col-12 col-sm-3 col-lg-2"> 
    <a href="" class="btn btn-primary float-right"><i class="bi bi-search text-white"></i></a>
  </div>
  </div>
</div>
{% for athlete in athlete_list %}
<div class="row justify-content-center" style="margin-bottom: 20px;">
<div class="card" style="width: 80%;">
    <div class="card-body">
      <h5 class="card-title">{{ athlete }}</h5>
      <hr/>
      <hr/>
      <p class="card-text overflow-auto">
        <div class="row">
          <div class="col-12 col-sm-3 col-lg-2">Contact: </div>
          <div class="col-12 col-sm-9 col-lg-10">{{athlete.contact_nb}}</div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 col-sm-3 col-lg-2"><i class="bi bi-envelope-fill"></i> Email: </div>
          <div class="col-12 col-sm-9 col-lg-10">{{athlete.email}}</div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 col-sm-3 col-lg-2"><i class="bi bi-telephone-fill"></i> Phone: </div>
          <div class="col-12 col-sm-9 col-lg-10">{{athlete.phone_nb}}</div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12 col-sm-3 col-lg-2">Injury: </div>
          <div class="col-12 col-sm-9 col-lg-10">{{athlete.injury}}</div>
        </div>


      </p>
      <a href="{% url 'main:athlete' athlete.id %}" class="btn btn-primary float-right">View</a>
    </div>
</div>
</div>
{% endfor %}
</div>
{% else %}
<div class="row justify-content-center">
  <p>no athletes available</p>
</div>
{% endif %}
{% endblock content %}



{% block javascript %}

{% endblock javascript %}
