/*
 * General
 */
h1 {
  color: #0297a2;
}

.btn {
  background-color: #f36d21 !important;
}

/*
 * Heatmap
 */
#heatmap {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
