/*
 * General
 */
* {
  font-family: 'Poppins', 'Open Sans', 'sans-serif'; 
  color:#0297a2;
}

.btn {
  background-color: #f36d21 !important;
}

.content {
  max-width: 1400px;
  margin: auto;
}

footer {
  font-weight: bold;
}

/*
 * Heatmap
 */
#heatmap {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
